@import url("https://fonts.googleapis.com/css2?family=K2D:wght@100;300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
}
header div {
  align-self: center;
  width: 40%;
}
header div img {
  width: 100%;
}

nav {
  border-top: solid lightgray 1px;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: 0 auto;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  line-height: none;
  text-shadow: none;
}

.toggle-menu {
  margin: 2rem;
  width: 2.2rem;
  height: 2.2rem;
  display: none;
  background-image: url("../assets/img/menu.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5rem;
}

.dropdown-menu {
  display: none;
  border-top: solid lightgray 1px;
  padding-top: 0.625rem;
  position: absolute;
  top: 100%; /* Position below the button */
}

.surfing div h2 {
  color: black;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  line-height: none;
  text-shadow: none;
  text-align: center;
  padding-top: 0.625rem;
}
.surfing div .linea {
  width: 8%;
  margin: 0.3125rem auto 0.8125rem auto;
  border: 2.5px solid black;
}
.surfing div p {
  color: black;
  font-family: "K2D", sans-serif;
  font-weight: 300;
  line-height: none;
  text-shadow: none;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  width: 100%;
}
.gallery img {
  width: 33.3%;
  height: 12.65em;
  filter: saturate(1);
}

.about h2 {
  color: black;
  font-family: "K2D", sans-serif;
  font-weight: 600;
  line-height: 3.25rem;
  text-shadow: 0.025rem 0.025rem #000003;
  text-align: center;
  padding-top: 0.625rem;
}
.about .linea {
  width: 8%;
  margin: 0.3125rem auto 0.8125rem auto;
  border: 2.5px solid black;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img/wave.jpg");
  background-size: 100%;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  background-position: bottom;
  margin-top: 2rem;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
.testimonials p {
  text-align: center;
  color: white;
  width: 60%;
  padding-top: 4.875rem;
}
.testimonials .redes-sociales {
  display: flex;
}
.testimonials .redes-sociales div {
  display: flex;
  height: 3.125rem;
  width: 3.125rem;
  background-color: rgba(255, 255, 255, 0.599);
  border-radius: 50%;
}
.testimonials .redes-sociales div a img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: contain;
  overflow: hidden;
  padding: 9px 0 0 13px;
}

.towards {
  display: flex;
  flex-direction: column;
}
.towards div {
  display: flex;
  flex-direction: column;
}
.towards div h2 {
  color: black;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  line-height: none;
  text-shadow: none;
  text-align: center;
  padding-top: 0.625rem;
}
.towards div .linea {
  width: 8%;
  margin: 0.3125rem auto 0.8125rem auto;
  border: 2.5px solid black;
}
.towards div p {
  color: black;
  font-family: "K2D", sans-serif;
  font-weight: 300;
  line-height: none;
  text-shadow: none;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2rem;
}
.towards img {
  width: 12.5rem;
  align-self: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/assets/img/wave.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 18.75rem;
  width: 100%;
  padding-top: 6%;
}
footer p {
  display: flex;
  flex-direction: row;
  gap: 0.325rem;
  align-self: center;
  font-family: "K2D", sans-serif;
  text-align: center;
}
footer p span {
  color: white;
}
footer p span:hover::before {
  content: "<";
}
footer p span:hover::after {
  content: ">";
}
footer p span:hover {
  background-color: white;
  color: black;
}
footer a {
  text-align: center;
}
footer a img {
  width: 2em;
  height: 2em;
  align-self: center;
}
footer a img:hover {
  background-color: rgba(255, 255, 255, 0.707);
  border-radius: 50%;
}

@media (max-width: 1000px) {
  footer {
    background-position: 0 35%;
  }
  body {
    height: fit-content;
  }
}
@media (max-width: 760px) {
  .card-item p span {
    display: none;
  }
  .towards div p span {
    display: none;
  }
  footer {
    height: fit-content;
    background-position: 250%;
    gap: 1px;
    padding-top: 5rem;
  }
  footer a img {
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .carousel-item img {
    height: 25rem !important;
  }
  .testimonials {
    background-position: center !important;
    background-size: 200%;
  }
  .about .cards h3 {
    font-size: 1.25rem;
  }
  footer {
    background-image: none;
    background-color: #CFDFDF;
    height: 8.95rem;
    padding-top: 3rem;
    margin-top: 2rem;
  }
  footer p {
    font-size: 0.9rem;
  }
  footer img {
    margin-bottom: 3rem;
  }
}
@media (max-width: 498px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    width: 60%;
  }
  header nav {
    display: none !important;
  }
  header nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1rem;
  }
  header .toggle-menu {
    display: flex;
    align-items: center;
  }
  header .dropdown-menu {
    border-top: solid lightgray 1px;
    padding-top: 0.625rem;
    width: fit-content;
    display: none;
    position: absolute;
    top: 19%;
    right: 0;
  }
  header .dropdown-menu .nav-list {
    flex-direction: column;
  }
  .cards .card-item h3 {
    line-height: initial !important;
  }
  .testimonials {
    background-size: 200%;
    height: 24.5rem;
    padding-bottom: 1rem;
  }
  footer {
    background-color: #CFDFDF;
    height: 5.75rem;
    margin-top: 1rem;
  }
  footer a img {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 4.2rem;
  }
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  gap: 2.15rem;
  height: 13.75rem;
  margin: 4rem 0 4rem 0;
}
.cards .card-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: 30%;
}
.cards .card-item img {
  width: 30%;
  align-self: center;
  background-color: rgba(147, 144, 144, 0.162);
  border-radius: 50%;
}
.cards .card-item h3 {
  color: black;
  font-family: "K2D", sans-serif;
  font-weight: 600;
  line-height: 3.25rem;
  text-shadow: 0.025rem 0.025rem #000003;
  text-align: center;
  padding-top: 0.625rem;
  font-weight: bold;
  padding-top: 0.01rem;
}
.cards .card-item p {
  text-align: center;
  font-family: "K2D", sans-serif;
}

.carousel-item img {
  height: 35rem;
}

/*# sourceMappingURL=style.css.map */
