header{ 
    display: flex;
    flex-direction: column;
    div{
        align-self: center;
        width: 40%;
        img{
            width: 100%;
        }
    }
    }
    nav{
        border-top: solid lightgray 1px;
        }
        ul{
            @include flex (row, wrap, center, center, 1.25rem);
            margin: 0 auto;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    @include font(black, $font-principal, 700, none, none);
                    }
                }  
            }
        .toggle-menu{
            margin: 2rem;
            width: 2.2rem;
            height: 2.2rem;
            display: none;
            background-image: url("../assets/img/menu.png");
            background-position: center;
            background-repeat: no-repeat;
            padding: 0.5rem;
        }
        .dropdown-menu {
            display: none;
            border-top: solid lightgray 1px;
            padding-top: .625rem;
            position: absolute;
            top: 100%; /* Position below the button */
        }

