header{ 
    display: flex;
    flex-direction: column;
    div{
        align-self: center;
        width: 40%;
        img{
            width: 100%;
        }
    }
    nav{
        border-top: solid lightgray 1px;
        padding-top: .625rem;
        ul{
            @include flex (row, wrap, center, center, 1.25rem);
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    @include font(black, $font-principal, 700, none, none);
                    }
                }  
            }
        }
}
