.surfing{
    div{
        h2{
            @include font(black, $font-principal, 700, none, none);
            text-align: center;
            padding-top: .625rem;
        } 
        .linea{
            @include linea;
        }
        p{
            @include font(black, $font-principal, 300, none, none);
            text-align: center;
            width: 50%;
            margin-left: 25%;
            margin-bottom: 2rem;
        }
    }
}
.gallery{
    display: flex;
    width: 100%;
    img{
        width: 33.3%;
        height: 18.75rem;
        filter: saturate(1);
    }
}
.about{
    h2{
        @include font-h2;
    }
    .linea{
        @include linea;
    }
}
.cards{
    @include flex(row, no-wrap, space-evenly, center, 1.25rem);
    .card-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 1.25rem;
        width: 40%;
        img{
            align-self: center
        }
        h3{
            @include font-h2;
            font-weight: bold;
        }
        p{
            text-align: center;
            font-family: $font-principal;
        }
    }
}