.surfing{
    div{
        h2{
            @include font(black, $font-principal, 700, none, none);
            text-align: center;
            padding-top: .625rem;
        } 
        .linea{
            @include linea;
        }
        p{
            @include font(black, $font-principal, 300, none, none);
            text-align: center;
            width: 70%;
            margin-left: 15%;
            margin-bottom: 2rem;
        }
    }
}
.gallery{
    display: flex;
    width: 100%;
    img{
        width: 33.3%;
        height: 12.65em;
        filter: saturate(1);
    }
}
.about{
    h2{
        @include font-h2;
    }
    .linea{
        @include linea;
    }
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/img/wave.jpg");
    background-size: 100%;
    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.3);
    background-position: bottom;
    margin-top: 2rem;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 30rem; 
    width: 100%;
    p{
        text-align: center;
        color: white;
        width: 60%;
        padding-top: 4.875rem;
    }
    .redes-sociales{
        display: flex;
        div{
            display: flex;
            height: 3.125rem;
            width: 3.125rem;
            background-color: rgba(255, 255, 255, 0.599);
            border-radius: 50%;
            a{
                img{
                    height: 2.5rem;
                    width: 2.5rem;
                    object-fit: contain;
                    overflow: hidden;
                    padding: 9px 0 0 13px;

                }
            }
        }
    }
}

.towards{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        flex-direction: column;
        h2{
            @include font(black, $font-principal, 700, none, none);
            text-align: center;
            padding-top: .625rem;
        }
        .linea{
            @include linea;
        }
        p{
            @include font(black, $font-principal, 300, none, none);
            text-align: center;
            width: 50%;
            margin-left: 25%;
            margin-bottom: 2rem;
        }
    }
    img{
        width: 12.5rem;
        align-self: center;
    }
} 