.cards{
    @include flex(row, no-wrap, center, center, 2.15rem);
    height: 13.75rem;
    margin: 4rem 0 4rem 0;
    .card-item{
        @include flex (column, wrap, center, center, 0.25rem);
        width: 30%;
        img{
            width: 30%;;
            align-self: center;
            background-color: rgba(147, 144, 144, 0.162);
            border-radius: 50%;
        }
        h3{
            @include font-h2;
            font-weight: bold;
            padding-top: 0.01rem;
        }
        p{
            text-align: center;
            font-family: $font-principal;
        }
    }
}